///////////variables////////
     $rojo-linea: rgb(255, 4, 58);       
	 $rojo-t:#b22222;
     $grey:rgb(238, 238, 238);
	 $c-back:#8a8a8a;
    $sizeparallax: 85vh;

///////////variables////////