
//======================importanciones sass============//
   
//==============================================//



.redSa{
    background: #7d7d7d !important;
    border-radius: 50%;
}  
///////////variables////////
     $rojo-linea: rgb(255, 4, 58);       
	 $rojo-t:#b22222;
     $grey:rgb(238, 238, 238);
	 $c-back:#8a8a8a;
     $sizeparallax: 85vh;
     $greycolor: #282828;

///////////variables////////


@font-face {
    font-family:fuente1;
    src: url(../font-A/MYRIADPRO-REGULAR.OTF);
}








a:hover{
    color: inherit;
}



// scroll styles
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

// fin de scroll

body{
	background-color: #141414;
}





.bgRayas{
    background-color: rgba(0,0,0,0.25098);
}


//menu nuevo 
//.navegacion{
  //  background-image: url(../img/La-calle-habla.jpg);
    //background-size: cover;
//    width: 100%;
  //  height: 100%;
    












.copysPortada{
    h4{
        font-weight: 600;
        padding: 4px 10px;
        background-color: $rojo-linea;
        display: inline;
        font-size: 1rem;
        text-align: right;   
        color: #000;
        border-radius: 3px
    }
}

// stard styles

.manifiesto-titulo{
	 border-bottom: 2px solid $rojo-t;
	 background-color: #fff;
	 
	 h2 {    
            font-size: 2.5em;
            color: #8a8a8a;  
            font-weight: 800;
         
	}
}

.manifiesto-img{
	 background-image: url(../img/aprendemos-caminando.jpg);
	 background-size: cover;
	 background-position: center;
	 background-repeat: no-repeat ;
	 background-attachment: fixed;
	 width: 100%;
	 height: $sizeparallax;
}

.manifiesto-texto{
	padding: 5vh 0;
	background-repeat: repeat;
    background-color: #282828;
                                    
	

	.manifiesto-cont-p{  
		 position: relative; z-index: 2;
		  text-align: center;
		  margin: 5vh auto;
		  width: 85%; 
		  height: 40vh;
		  color: #c7c7c7;
		  overflow-y: scroll;
		  padding: 0 15px;
			  
		  p{
			   font-size: 1.1em;
			   margin: 5vh 10px;
			   font-weight: 500;
			}
	}
}

.manifiesto-footer{
	background: #555;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;

	&-redes a{
		font-size:1.7em;	
		color: #f1f1f1;
		margin: 0 10px;

		&:hover{
			color:$rojo-t;
		}
	}
}






// seccion orgia cultural


.orgiaCultural{
	
	.orgiaCultural-img{
		background-image: url(../img/orgia-cultural.jpg);
		background-attachment: fixed;
		background-size: cover; 
		width: 100%;
		height:$sizeparallax  ;		
	}

	.orgiaCultural-eventos{
		display: grid;
		background-color: #8a8a8a;
		grid-template-columns: 1fr 1fr 1fr ;
        grid-auto-rows: 23rem;
		padding:5px ;
		
        
        
		.evento{
            cursor: pointer;
            &img{
                width: 100%;
                height: 100%;
                img{
                    object-fit: cover;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                } 
                
            }   
			
		}
	}
}



body{
    font-family: fuente1;
}





// titulo de eventos
.evento{

    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(0);
    overflow: hidden;
    transition: all .35s ease-in;	
	
	
    
	&:hover &-title {
		bottom: 0%;
	}	

	&-title{
		position: absolute;
		bottom: -4vh;
		width: 100%;
		height: 10vh;
		background-color: #171717;
		display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
		transition: all .4s ease-in;
        justify-content: center;
        
		

		// tilte hijos
		& span{
			grid-column: 1 / 5;
			text-align: center;
			font-size: 1.5rem;
			color: #fff;
			letter-spacing: 2px;
			font-weight: 600;
			transition: all 1s ease-in;

		}
		&-verMas{
            grid-row: 3 / 3;
            grid-column: 2 / 4;
			display: flex;
			justify-content: center;
			align-items: center;
            padding: 0;
            
			span{
				font-size: .8rem;
				transition: all ease .7s;
                color: #000;
			}	
			.evento-arrow{
				font-size: .8rem;
				color: $rojo-t;
                margin-left: 10px
			}
		}
        // FIN tilte hijos
		

	}
}









// seccion caminemos 

.caminemos{
	width: 100%;
	padding: 0;
	
	&-img{
		background-image: url(../img/caminemos.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
		width: 100%;
		height:$sizeparallax;	
	}

	&-text{
		padding: 2.5vh;
        background-color: $grey;
    
			
		div{
			width: 75%;
			display: flex;
			flex-direction: column;
			

			p , span{
                font-style: italic;
                margin: 0;
                text-align: center;
                font-size: 1.1rem;
                line-height: 1.38;
                font-weight: 600;
				color: darken(#f1f1f1, 60%);
			}
	
			span{
                line-height: 1.5;

				color: $rojo-t;
                
			}
		}
	}




	.proyectos{
		&-img{
			background-image: url(../img/eventos2.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			
			width: 100%; height: $sizeparallax / 2;
		}

		&-proyectos{
			
			background-color: #141414;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.header{
			height: 10vh;

			}
			span{
				font-size: 1.2rem;
				color:#fff;
			}
		}
	}
}


.cuerpo-proyecto{
	width: 100%;
	height: 85vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $grey;
    padding: 25px 10px;
}



.proyectos-contenido{
	width: 80%;
	display: flex;
	justify-content: center;
	margin: 10px 0;
	
	.proyecto-titulo{
		font-weight: 800;
		font-size: 2.5em;
		margin: 10px 5px;

	}
	.proyecto-descripcion{
		font-size: 1.5;
		margin: 0 20px ;
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;

		span{
			color: #000;
		font-size: 1.1em;

		}

	}
}

//  FIN seccion caminemos









//seccion de contenidos 
.contenidos{
	padding: 0;
	&-img{
		height:$sizeparallax/2;
		background-image:url(../img/contenidos.jpg);
		background-size: cover;
		background-attachment: fixed;
		background-position: left;
	}

	&-text{
		background-color: $grey;
		padding: 1.8vh;
		display: flex;
		flex-direction: column;
        align-items: center;
		p, span{
            width: 70%;
			font-size: 1.2em;		
			color: #141414;	
			text-align: center;
		
		}
		span{
			color: $rojo-t;
		}
	}
	&-queHacemos{
		display: grid;
        grid-template-columns: 1fr 1.5fr 1fr ;
        grid-template-rows: 1fr;

		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #555;
		

		&-text{
			position: relative;
            grid-column: 2;
			display: flex;
			justify-content: start;
			align-content: center;
			margin: 5vh 0;
			padding-left: 10%;
			overflow: hidden;
            transition: all .5s  ;
			
			&:hover{
				transform: translate(-10%, 0px)
			}
			
           
            
            
			span{
                display: flex;
                align-items: center;
				font-size: 1.5rem; 
				color: #f1f1f1;
				
			}
		}



		&-title{
			grid-column: 1/5;
			text-align: center;
			height: 10vh;
			font-size: 1.3rem;
			background-color: #141414;
			display: flex;
			align-items: center; 
			justify-content: center;

		}


	}
}
// Fin seccion de contenidos 


.ConNosotros-img{
    width: 100%;
    height: $sizeparallax;
    background-image: url(../img/escuchamos%20tus%20ideas.jpg);
    background-size: cover;
    background-attachment: fixed; 
}









.footPage{ 

	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	grid-gap: 50px;
	justify-content: center;
	background-color: $greycolor;
    
    
    &-text{
		grid-row: 2;
		grid-column: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        &  p{
            display: flex;
            flex-direction: column;
        }
        &  p span{
            line-height: 1;
             font-weight: 700;
           font-size: 1.8rem;
            color: aliceblue;
        }
    
        &-resaltado{
            line-height: .7;
    
           font-size: 1.4rem;
            color: $rojo-t; 
        }
	}

    
    
    &-contact{ 
		grid-column: 1/2;
		grid-row: 3;
        text-align: right;
        color: darken(#fff, 20%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        &-phone{
            line-height: 1.2;
            display:flex;
            flex-direction: column;
            span{
                font-size: 1.8rem;
            }         
		}

		&-mail{
			& span{
				font-size: 1.5rem;
			}
		}

        &-city{
			color: $rojo-t;
			
            h5{
				font-size: 1rem !important;  
            }
        }
        
        .socialF{
            flex-direction: row-reverse;
            
            .redS{
                    background: $rojo-t;
                    border-radius: 50%;
            }   
            .redS:hover{
                transform: scale(1.1, 1.1)
            }
        }                
    }

	&-form{
		grid-column: 2/4;
		grid-row: 2/4;;
	}
}

.Formularios{ 
    width: 90%;
    position: sticky;
    top: 25%;S
    form{
        box-shadow: 2px 5px 10px 4px #141414;
        padding: 40px;
        transition: all .35s linear; 
        
        &:hover{
             box-shadow: 2px 5px 10px 8px #000;
        }
    }          
}





 /* estilos de el fomulatrio de contacto */
.formDiv{
     background-color: #d6d6d6
 } 
 
 .labelForm{
     line-height: .7;
     font-size: 1.5em;
     color: #c7c7c7;
     margin-inline-start: 10px;
 }
 
 .formulario{
     border-radius: 20px;
     opacity: .7;
     box-shadow: rgb(41, 41, 41) 1px 3px 3px
 }
 
 .arroba{
     box-shadow: rgb(41, 41, 41) 1px 3px 0px
 
 }
 
 .formulario:focus{
 opacity: 1;
 box-shadow: 0 0 .1rem .2rem #ff043ab6;
 }
 
 .boton {
     background-color: #000;
     font-size: 1.4em ;
     letter-spacing: 2px; 
     padding: 5px 15px ;
     border-radius: 20px;
     box-shadow: rgb(41, 41, 41) 1px 3px 3px ;
     transition: all .3s
     
 }
 
 .boton:hover {
     background-color: #4b0111;
     box-shadow:  rgb(41, 41, 41) 2px 5px 5px ;
 }



.infoCitio , .infoNumero, .infoArroba{
    color: #c7c7c7;
    line-height: 5;
}

.infoCitio h5{
    font-size: 1em;
    line-height: .9;
}

.infoNumero h5{
    font-size: 1.5em;
    line-height: .9;

}

.infoArroba h5{
    font-size: 1em;
    line-height: .9    
}



.pie{
    background: #000
}





.textF{
    color: #ccc;
    h4 , span{
        font-size: .8rem
    }
}







//para exportar

// estilos contenedor de los eventos 
.evento{
    position: relative;
    &-content{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 2;
        background: #141414;
        color: $grey;
        display: none;
        justify-content: center;
        align-items:center;
        
        &-text{
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: space-around;

            &-title{
                font-size: 1.5rem;
                text-align: center;
                margin: 5% 0;
                letter-spacing: 2px;
                

            }
            
            &-p{
                width: 70%;
                line-height: 1;
                padding: 2.5% 0;
                border-top: solid #000 1px;
                border-bottom: solid #000 1px;
            }
            
            &-info{
                display: flex;
                flex-direction: column;
                line-height: 1;
                
                span{
                    font-size: .8rem;
                    font-size: .8rem;
                }
                
            }
            
        }
    }   
}



.menu{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 2.5vh;
    width: 40%;
    
    .menu-naveg{
        display: flex;
        justify-content: center;
        border: solid 1px $rojo-linea;
        color: $rojo-t;
        align-self: center;
        transition:all .25s linear;
        padding: 5px;
        
    
        &:hover{
            color: #fff !important;
            background-color: $rojo-linea;
        }
        
        &-link{
            a{
                h2{
                    margin:0px !important
                }
            }
        }
        
    }
}



.boton:hover{
    border: 2px solid $rojo-linea;
    background-color: #000; 
}

.boton{
    border: 2px solid transparent;
}


.lineaT{
   position: absolute;
    right: -9%;
    height: 8rem;
    top: 7%;
    
    img{
        height: 100%;
    }
}


//    pc size
@media only screen and (max-width: 991px){
     .event{
        grid-gap: 1rem
    }
    
    .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
  
    
    
    .orgiaCultural-eventos{
        grid-template-columns: 1fr 1fr !important;
    }
    
    .evento-title {
        font-size: 1.2rem;
    }
    
    
    .proyectos-contenido{
        .proyecto-titulo{
            font-size: 1.3rem;
            align-items: center;
            display: flex;
            text-align: right;
        }
        .proyecto-descripcion{
                width: 40%;
            span{
                font-size: 1rem,
            }
        }    
    }
}




@media only screen and (max-width: 768px){
    //eventos tab
    .event{
        grid-template-columns: auto !important;
        grid-gap: 1rem;
            
        &-body{
            padding: 20px 1.2rem !important;
        }
    }
    
    .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    }
    
    .event-lateral {
    display: none !important;
    }
  
    .caminemos-img{
        background-position: 29%, 0;
    }
    .ConNosotros-img {
        background-position: center;
    }   
    .orgiaCultural-img{
            
        background-position: center;
    }
    .menu{
            width: 75%;
    }
    .manifiesto-cont-p{
        width: 95% !important;
        height: 50vh !important;
    }
      
    .orgiaCultural-eventos{
        grid-template-columns: 1fr !important;
    }
    
    .evento-title {
        font-size: 1.2rem;
    }
    .caminemos-text div{
        width: 90%; 
        p , span{
            font-size: 1rem;
        }
    }
    
    .proyectos-contenido{
        .proyecto-titulo{
            font-size: 1.2rem;
            align-items: center;
            display: flex;
        }
        .proyecto-descripcion{
            width: 50%;
            span{
                font-size: 1rem,
            }
        }    
    }
    
    .contenidos-text p, .contenidos-text span{
        
        width: 85%;
        font-size: 1em;
        
    }   
    .contenidos-queHacemos{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr !important;
        
            
       
    }
      
    .contenidos-queHacemos-text{
        span{
            font-size: 1.2rem    
        }
    }
   
    //responsive footer
    
    .footPage{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;
        grid-gap: 10px;
        padding: 25px;        
        &-text{
            grid-row: 1;
            grid-column: 1/4;
            text-align: left;
        }       
        &-contact{
            grid-column: 1/4;
            grid-row: 2;
        }        
        &-form{
            grid-column: 1/4;
            grid-row: 3;
        }
        
    }   
   .footPage-text p span{
        font-size: 1.3rem;
    }
    .footPage-text-resaltado{
        font-size: 1.1rem;
    }
    .footPage-contact-phone span{
        font-size: 1.3rem
    }  
    .footPage-contact-mail span{
        font-size: 1.1rem;
    }
}







@media only screen and (max-width: 590px){
    .menu .menu-naveg-link a h2 {
    margin: 0px !important;
        font-size: 1.5rem !important;}
    
    
    .lineaT{
        display: none !important;
    }
    
    .copysPortada h4 {
    font-size: .7rem !important; 
    }
    
    
    .event-body-article h1 {
       font-size: 2rem !important;
    }
    
    .event-body-article h4 {
    font-size: 1.2rem !important;
    }
    
    .event{
        grid-template-columns: auto !important;
        grid-gap: 0 !important;
        
        &-body{
                padding: 6rem 1.2rem !important;
        }
    }
    
    .event-body-galery-fotos {
    display: grid;
    grid-template-columns: 1fr  !important;
    }
    
    .event-lateral {
    display: none !important;
    }
    
    
    .event-head .event-head-migas {
        position: absolute;
        bottom: -171% !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        .breadcrumb{
            margin-bottom: 0;
            display: flex
        }
        
        .dropdown{
                display: flex ;
                justify-content: center;
        }
    }
    
    
           
    .orgiaCultural .orgiaCultural-img{
        background-position: left !important;
    }
    
    .menu{
            width: 85%;
    } 
   .orgiaCultural-eventos{
        grid-template-columns: 1fr !important;
    }  
    .evento-title {
        font-size: 1rem;
    } 
    .caminemos-text div{
        width: 95%;
        
        p, span{
            font-size: .90rem;
        }
    }
    .proyectos-contenido{
            width: 100%;
        .proyecto-titulo{
            text-align: right;
            font-size: 1.2rem;
            align-items: center;
            display: flex;
        }
        .proyecto-descripcion{
                width: 40%;
            span{
                font-size: .80rem,
            }
        }   
    } 
    .contenidos-text p, .contenidos-text span{
        
        width: 90%;
        font-size: 1em;
        
    }
    
    .contenidos-queHacemos{
        display: grid;
        grid-template-columns: 1fr 4fr 1fr !important;
        
    }
    
    .contenidos-queHacemos-text{
        span{
            font-size: 1.2rem
        
        }
    }
    
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////    EVENTOS    ///////////////////////////////////////



//contenedor de los eventos 
.event{
    background-color: #fff;
    display: grid;
    grid-template-columns: 9fr 3fr;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 10vh auto;
    grid-gap: 2rem;
    
    &-head{
        grid-column: 1/3;
        grid-row: 1;
        display: flex;
        
        align-items: center;
        background-color: #000;
        position: relative;
        
        .event-head-migas{
            position: absolute;
            bottom: -106%;
            display: flex;
            width: 100%;
            justify-content: space-between;
            ol{
                background-color: #c7c7c714 !important;
            }
            
            .dropdown{
                margin: 5px 15px;
                font-style: italic;
                font-weight: 600;
                
                .btn{
                    background: #141414;
                    font-style: italic;
                    font-weight: 500;
                }
                
                &-menu{
                    left: -25% !important;
                    background-color: #141414;
                    a{
                        color: white;
                        font-style: italic;
                        font-weight: 500;
                    }
                    a:hover{
                        color: #000;
                    }
                }
                
                
                .btn:hover{
                    background: #000
                }
            }
            
            
            
        }
    }

    &-body{
        grid-column: 1/2;
        grid-row: 2;
        padding: 0 4rem;

        &-article{
            margin: 2rem 0;

            h1{
                font-size: 3rem;
                font-style: italic;
                font-weight: 700;
            }
            h4{
                font-size: 1.4rem;
                color: $rojo-t;
                line-height: .5;
                margin-left: 15px;
            }
            
            &-text{
                margin: 3rem 0 1rem 0 ;
                font-size: 0.92rem;
                font-style: italic;
            }
            
            &-redes{
                display: flex;
                color: red;
                .redS{
                    img{
                        width: 2rem;
                        height: auto;
                        margin: 0 5px;
                        border-radius: 50%;
                        transition: all .25s ;
                    
                        &:hover{
                            background-color: $rojo-t;
                        }
                    }
                        
                }
            }
            
            
            
        }
        
        
        &-galery{
            margin: 2rem 0;
            box-shadow: 5px 4px 9px rgba(0, 0, 0, 0.250);
            &-header{
                padding: 5px 3rem;
                position: relative;
                background-color: #000;
                span{
                    
                    font-size: 1.2rem;
                    color: white;
                    font-style: italic;
                    font-weight: 700;
                    
                }
            }
            
            &-fotos{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-auto-rows: 1fr;
                grid-gap: 5px;
                
                
                &-img{
                    height: 11rem;
                    background-color: cadetblue;
                    cursor: pointer
                }
            }
        }
    }

    .aside{
        grid-column: 2/3;
        grid-row: 2/3
    }    
}

.porIcon{
    font-size: 1.8rem !important ;
    line-height: 1.1 !important;
    font-weight: 900 !important;
    color: red !important;
    position: absolute;
    left: 5px;
}



////////////aside menu lateral
.colapsable{
    display: none;
}
.event-lateral-masEventos , event-lateral-prensa{
    margin: 2rem 0
}

.event-lateral{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.lateralHeader{
    background-color: #000;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    padding-left: 3.5rem;
    position: relative;
    display: flex;
}

.lateralBody{
    display: flex;
    flex-direction: column;
    
    
}



.lateralbody-evento{
    position: relative;
    padding: 9px;
    border-bottom: gray 1px solid;
    padding-left: 20px;
    transition: all .25s linear;

    &:hover{
        border-bottom: $rojo-linea 1px solid;
    }
    
    &:hover a {
        transform: translateX(20px)
    }
    a{
        width: 100%;
        display: block;
        transition: .25s all linear;

    }
    
    span{
        font-size: 1.1rem;
        font-weight: 600;
        font-style: italic
    }       
}

.show-boton{
    margin: .5rem auto;
    width: 40%;
    text-align: center;
    color: $rojo-t;
    cursor: pointer;
    display: block;
    font-weight: 600;
    border-bottom: solid 1px transparent;
    transition: all .5s linear ;
    
    &:hover{
        border-bottom: solid 1px $rojo-linea;

    }
    
    
    
}

/// cajas de notas de prensa

.notasPrensa{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    min-height: 17rem;
    justify-content: space-around;
    
    
    .notasPrensa-nota1{
        background: rgb(212 , 0 , 51);
    }
    
    .notasPrensa-nota2{
        background-color: rgb(122 , 122, 122);
    }
    
    
    .notasPrensa-nota1 , .notasPrensa-nota2{
        height:6rem;
        position: relative;
        display: flex;
        
        .notaTitle{
            font-size: 1.5rem;
            color: #fff;
            font-weight: 800;
            font-style: italic;
            display: flex;
            justify-content: center;
            width: 100%;  
        }
        
        .nota-content{
            width: 100%;
            background-color: #000;
            color: #fff;
            display: flex;
            justify-content: center;
            padding: 5px;
            position: absolute;
            top: 40%;
            font-weight: 600;
            font-style: italic;
            
            
            
        }        
    }
    
}
//etilos de los eventos visibles solo en movil
.orgiaCultural-eventosMovil{
    background-color: #000;
    display: none;
}

.eventoMovil{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    
    a{ 
        padding: 0 5%;
        border-bottom: 1px gray solid;
        transition: all .35s linear;
        
        &:hover{
            border-bottom: 1px $rojo-linea solid;
 
        }
        
        span{
            font-size: 1.5rem;
            font-style: italic;
            color:$grey;

        }
    }
    span{
        color: $rojo-t ;
        font-size: 1rem;
        font-style: italic;

    }
}





///////////////////////////////medias query responsive change2 ///////////////////////

@media only screen and (max-width: 590px){
    
    
    .manifiesto-texto{
        display: none !important;
    }
    
    
    .orgiaCultural-eventosMovil{
        display: block !important;
    }
    
    .orgiaCultural-eventos{
        display: none !important;
    }
    
    .cuerpo-proyecto{
        height: auto !important
    } 
    
    //proyectos
    .proyectos-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto !important;
        flex-wrap: nowrap;
        
        .proyecto-separador{
            display: none;
        }
    
        .proyecto-titulo{
                display: flex;
                font-size: 2rem;
        }
        .proyecto-descripcion {
            margin: 0 15%;
            width: auto;
            text-align: center;
            border-bottom: 2px solid red;
            padding-bottom: 20px;
        }
    }
    
    .contenidos-queHacemos{
        grid-template-columns: .5fr 4fr .5fr !important;
        
         .sombra {
             display: block;
            width: 100%;
            height: 30px;
            grid-column: 1/4;
        }
    }
    
    .contenidos-queHacemos-text{
        position: relative;
        padding-bottom: 15px;
        padding-left: 0;
        justify-content: center;
        
        img{
            display: none !important;
        }
        
        span{
                font-size: 1.5rem;
                font-weight: 500; 
                text-align: center;
        }
        div{
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 25%;
            height: 2px;
            background: red;
        }
        
       
    }
    
    
    .footPage{
        padding: 0;
        &-text{
               display: flex;
                justify-content: space-around; 
                text-align: center;
            
            span{
                    font-size: 2.3rem;
                    text-align: center;
                    font-style: italic;
            }
        }
        
        &-contact{
            text-align: center;
        }
        
        .socialF {
            justify-content: center;
        }
        
        &-form{
            margin: 15px 0;
            .Formularios{
                width: 100%;
                .botonSend{ 
                        background: rgb(160,0,0); /* Old browsers */
                        background: -moz-linear-gradient(left, rgba(160,0,0,1) 0%, rgba(204,0,0,1) 65%, rgba(183,0,116,1) 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, rgba(160,0,0,1) 0%,rgba(204,0,0,1) 65%,rgba(183,0,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, rgba(160,0,0,1) 0%,rgba(204,0,0,1) 65%,rgba(183,0,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    
                
                    
                    width: 100%;
                    border-radius: 5px;
                    font-style: italic;
                    transition: .5s all linear;
                }
            }
        }
            
    }
    
    .titulo {
        font-size: 12vw;
        font-weight: 600 !important;
        text-align: center;
    }
    
}
@media only screen and (max-width: 768px){   
    
    .orgiaCultural-eventosMovil{
        display: block !important;
    }
    
    .orgiaCultural-eventos{
        display: none !important;
    }
    .manifiesto-img , .orgiaCultural-img , .caminemos-img , .proyectos-img, .contenidos-img , .ConNosotros-img{
        background-attachment: scroll !important;
        height:  $sizeparallax / 2 !important ;   
    }  
    
    
    
    
    
    
}


@media only screen and (max-width: 991px){}


.contenidos-queHacemos{
    
    .sombra{
        display: none;
    }
} 



//botones alert
.botonAlert{
    position: absolute;
    bottom: -5rem;
    display: none;
    right: 35%;
    
    button{
        display: flex;
        align-items: center;
    }
}








  // abrir foto styles

@keyframes goImg{
    0%{transform: scale(0)}
    50%{transform: scale(1.2 , 1.2)}
    100%{transform: scale(1 , 1)}
}


.openImg{
    
    background-color: rgba(20, 20, 20, 0.8);
    width: 70vw;
    height: 80vh;
    left: 15%;
    top: 10%;
    position: fixed;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.22) 16px 9px 40px 50px;
    border-radius: 15px ;
    animation-name: goImg;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out

    
    
    
}
.openImg img {
    vertical-align: middle;
    object-fit: contain;
    border-style: none;
    width: 100%;
    height: 100%;
    cursor: default;
}


.closeBoton {
    background-color: #fff;
    right: 15%;
    position: fixed;
    padding: 0 10px;
    font-weight: 800;
    font-size: 1rem;
    top: 10%;
    z-index: 7;
    cursor: pointer;
    display: none;   
    border-radius: 5px;
    color: #ff043a;
    border: 3px solid transparent;
    transition: all .25s linear 
}

.closeBoton:hover{
    background-color: #ff043a;
    border: 1px solid #fff;
    color: #fff;
}

.Formularios {
    box-shadow: 6px 6px 20px 0px #141414;
    padding: 10px 0;
}
